<launch>

	<param name = "gridRows" value = "3" />
	<param name = "gridCols" value = "4" />
	<param name = "numBlocks" value = "3" />
	<param name = "blockLocaleRow" value = "2" />
	<param name = "blockLocaleCol" value = "1" />
	<param name = "configuration" value = "stacked_ascending" />
	<param name = "goalState" value = "stacked_descending" />
	<param name = "isOneArmSolution" value = "True" />
</launch>
