<launch>

	<param name = "gridRows" value = "3" />
	<param name = "gridCols" value = "5" />
	<param name = "numBlocks" value = "10" />
	<param name = "blockLocaleRow" value = "2" />
	<param name = "blockLocaleCol" value = "3" />
	<param name = "configuration" value = "stacked_ascending" />
	<param name = "goalState" value = "sorteD_odd_even" />
	<param name = "isOneArmSolution" value = "False" />

	<node name = "controller" pkg = "gabe_ricky_sarah_proj1" type = "controller.py" />

	<node name = "robot_interface" pkg = "gabe_ricky_sarah_proj1" type = "robot_interface.py" />
</launch>
