<launch>

	<param name = "gridRows" value = "3" />
	<param name = "gridCols" value = "5" />
	<param name = "numBlocks" value = "4" />
	<param name = "blockLocaleRow" value = "2" />
	<param name = "blockLocaleCol" value = "3" />
	<param name = "configuration" value = "stacked_ascending" />
	<param name = "goalState" value = "scattered" />
	<param name = "isOneArmSolution" value = "False" />
</launch>
